.font-display-large {
    font-family: var(--type-display-large-font);
    font-size: var(--type-display-large-size);
    font-weight: var(--type-display-large-weight);
    line-height: var(--type-display-large-line-height);
    letter-spacing: var(--type-display-large-tracking);
}

.font-display-medium {
    font-family: var(--type-display-medium-font);
    font-size: var(--type-display-medium-size);
    font-weight: var(--type-display-medium-weight);
    line-height: var(--type-display-medium-line-height);
    letter-spacing: var(--type-display-medium-tracking);
}

.font-display-small {
    font-family: var(--type-display-small-font);
    font-size: var(--type-display-small-size);
    font-weight: var(--type-display-small-weight);
    line-height: var(--type-display-small-line-height);
    letter-spacing: var(--type-display-small-tracking);
}

.font-headline-large {
    font-family: var(--type-headline-large-font);
    font-size: var(--type-headline-large-size);
    font-weight: var(--type-headline-large-weight);
    line-height: var(--type-headline-large-line-height);
    letter-spacing: var(--type-headline-large-tracking);
}

.font-headline-medium {
    font-family: var(--type-headline-medium-font);
    font-size: var(--type-headline-medium-size);
    font-weight: var(--type-headline-medium-weight);
    line-height: var(--type-headline-medium-line-height);
    letter-spacing: var(--type-headline-medium-tracking);
}

.font-headline-small {
    font-family: var(--type-headline-small-font);
    font-size: var(--type-headline-small-size);
    font-weight: var(--type-headline-small-weight);
    line-height: var(--type-headline-small-line-height);
    letter-spacing: var(--type-headline-small-tracking);
}

.font-title-large {
    font-family: var(--type-title-large-font);
    font-size: var(--type-title-large-size);
    font-weight: var(--type-title-large-weight);
    line-height: var(--type-title-large-line-height);
    letter-spacing: var(--type-title-large-tracking);
}

.font-title-medium {
    font-family: var(--type-title-medium-font);
    font-size: var(--type-title-medium-size);
    font-weight: var(--type-title-medium-weight);
    line-height: var(--type-title-medium-line-height);
    letter-spacing: var(--type-title-medium-tracking);
}

.font-title-small {
    font-family: var(--type-title-small-font);
    font-size: var(--type-title-small-size);
    font-weight: var(--type-title-small-weight);
    line-height: var(--type-title-small-line-height);
    letter-spacing: var(--type-title-small-tracking);
}

.font-label-large {
    font-family: var(--type-label-large-font);
    font-size: var(--type-label-large-size);
    font-weight: var(--type-label-large-weight);
    line-height: var(--type-label-large-line-height);
    letter-spacing: var(--type-label-large-tracking);
}

.font-label-medium {
    font-family: var(--type-label-medium-font);
    font-size: var(--type-label-medium-size);
    font-weight: var(--type-label-medium-weight);
    line-height: var(--type-label-medium-line-height);
    letter-spacing: var(--type-label-medium-tracking);
}

.font-label-small {
    font-family: var(--type-label-small-font);
    font-size: var(--type-label-small-size);
    font-weight: var(--type-label-small-weight);
    line-height: var(--type-label-small-line-height);
    letter-spacing: var(--type-label-small-tracking);
}

.font-body-large {
    font-family: var(--type-body-large-font);
    font-size: var(--type-body-large-size);
    font-weight: var(--type-body-large-weight);
    line-height: var(--type-body-large-line-height);
    letter-spacing: var(--type-body-large-tracking);
}

.font-body-medium {
    font-family: var(--type-body-medium-font);
    font-size: var(--type-body-medium-size);
    font-weight: var(--type-body-medium-weight);
    line-height: var(--type-body-medium-line-height);
    letter-spacing: var(--type-body-medium-tracking);
}

.font-body-small {
    font-family: var(--type-body-small-font);
    font-size: var(--type-body-small-size);
    font-weight: var(--type-body-small-weight);
    line-height: var(--type-body-small-line-height);
    letter-spacing: var(--type-body-small-tracking);
}
